# Ignoring files when tracking changes for git #
################################################

# Generated sources #
#####################
target/*

# Specific files #
##################
META-INF/



# Java #
########
**/*.class

**/*.log

# Package Files #
*.jar
*.war
*.ear

# Maven #
#########
MANIFEST.MF
**/pom.xml.versionsBackup

# Eclipse #
###########
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# Intellij #
###########
.idea
.idea/
.iml

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch
*.orig


# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear